:root {
    --luna-dark: #101011;
    --luna-dark-1: #1e1e1f;
    --luna-dark-2: #32373c;
    --luna-dark-3: #414f62;

    --luna-light: #e5f1ef;
    --luna-light-accent: #628c8c;
    --luna-light-bg: #6e7c7c;

    --luna-danger-1: #d91963;
    --luna-danger-2: #b41050;
    /*--luna-danger-3: #7e0013;*/
    --luna-danger-bg: #860d31;

    --luna-sucess-1: #19c074;
    --luna-sucess-2: #14ad5f;
    --luna-sucess-3: #087041;

    --luna-warning-1: #eac928;
    --luna-warning-2: #cba52b;
    /*--luna-warning-3: #7c2516;*/

    --luna-primary-1: #6238fa;
    /*--luna-primary-glass: rgba(98, 56, 250, 0.25);*/
    --luna-primary-2: #c8f2f8;
    /*--luna-blue-bg: #35189f;*/

    --luna-frost-bg: rgba(100, 100, 100, 0.2);
}

.bg-dark {
    background: var(--luna-dark-1);
}

.bg-light {
    background: var(--luna-light);
}

.text-dark {
    color: var(--luna-dark-1);
}

.text-light {
    color: var(--luna-light);
    text-shadow: 0 2px 1px 2px var(--luna-light-accent);
}

.text-primary {
    color: var(--luna-primary-1);
    text-shadow: 0 2px 1px 2px var(--luna-light-accent);
}

.text-danger {
    color: var(--luna-danger-1);
    text-shadow: 0 2px 1px 2px var(--luna-danger-2);
}

.text-success {
    color: var(--luna-sucess-1);
    text-shadow: 0 2px 1px 2px var(--luna-sucess-2);
}

.bg-primary {
    background: var(--luna-primary-1) !important;
}

.bg-danger {
    background: var(--luna-danger-1) !important;
}

.bg-success{
    background: var(--luna-sucess-1) !important;
}

.bg-warning {
    background: var(--luna-warning-2) !important;
}
