button {
    padding: .5rem 35px;
    border: none;
    margin: 5px 8px;

    transition: filter .2s;
    color: $luna-light;
    cursor: pointer;

    font-family: NovaSquare;
    font-size: 12pt;

    background: $luna-frost-bg;
    box-shadow: 0 2px 5px $luna-dark-3;
    text-shadow: 0 -1px 3px $luna-light;

    transform: skewX(-3deg);

    opacity: 0.9;

    &.btn-inline {
        margin: 0;
        padding: 0 6px;

        transform: none;

        display: inline-block;
        flex-grow: 1;
    }

    &.btn-sm {
        padding: 8px 10px;
        font-size: 1em;
    }

    .btn-block {
        width: calc(100% - 20px);
    }

    &.btn-fill {
        &.primary {
            background: $luna-primary-1;
            box-shadow: 0 2px 5px $luna-primary-1;
        }

        &.danger {
            background: $luna-danger-bg;
            color: $luna-light;
            box-shadow: 0 2px 5px $luna-danger-2;
        }

        &.light {
            background: $luna-light;
            color: $luna-dark-1;
            box-shadow: 0 2px 5px $luna-light;
        }

        &.warning {
            background: $luna-warning-2;
            /*color: $luna-dark;*/
            box-shadow: 0 2px 5px $luna-warning-1;
        }

        &.success {
            background: $luna-success-1;
            color: $luna-light;
            box-shadow: 0 2px 5px $luna-success-2;
        }
    }

    &.btn-outline {
        color: $luna-light;
        transition: background-color .25s;

        &.primary {
            border: 1px solid $luna-primary-1;
            box-shadow: 0 2px 5px $luna-primary-1;

            &:hover {
                background: $luna-primary-1;
            }
        }

        &.danger {
            border: 1px solid $luna-danger-1;
            color: $luna-light;
            box-shadow: 0 3px 5px $luna-danger-2;

            &:hover {
                background: $luna-danger-bg;
            }
        }

        &.light {
            border: 1px solid $luna-light;
            box-shadow: 0 2px 5px $luna-light;

            &:hover {
                color: $luna-dark-1;
                background: $luna-light;
            }
        }

        &.warning {
            border: 1px solid $luna-warning-2;
            /*color: $luna-dark;*/
            box-shadow: 0 2px 5px $luna-warning-1;

            &:hover {
                background: $luna-warning-2;
            }
        }

        &.success {
            border: 1px solid $luna-success-1;
            color: $luna-light;
            box-shadow: 0 2px 5px $luna-success-2;

            &:hover {
                background: $luna-success-2;
            }
        }
    }
}

button:hover {
    filter: brightness(1.15);
    opacity: 1;
}

button.btn-icon {
    padding: 5px;
    width: fit-content;
    height: fit-content;
}

button.btn-icon-lg {
    padding: 0;
    width: 48px;
    height: 48px;

    margin-left: auto; margin-right: auto;
}

button:active {
    filter: brightness(0.85);
    padding-top: -1px;
    opacity: 1;
}
