div.progress {
    background: $luna-dark-2;
    box-shadow: -1px 1px 3px 2px $luna-dark-2;

    height: 15px;
    margin: 15px 5px;

    border: 1px solid rgba(100, 100, 100, 0.4);
    border-radius: 10px 2px 25px 10px;
    overflow: hidden;

    transition: border-right-color .25s, border-left-color .25s, border-top-color .25s, border-bottom-color .25s;
}

div.progress:hover {
    border-color: rgba(150, 150, 150, 0.6);
}

div.progress > div.progress-fill {
    transition: width .35s;
    height: 100%;
    background: $luna-light-bg;
}

div.progress-content {
    height: 18px;

    display: flex;
    flex-direction: column;
}

.progress-content > .readout {
    display: flex;
    color: $luna-light-accent;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 10pt;
    /*text-shadow: 1px -1px 1px $luna-light-accent;*/
    text-shadow: 0 0;
}

.readout > p {
    margin: 2px 2px 0 2px;
}

.progress-content > .progress {
    min-height: 8px;
    width: 100%;

    align-self: flex-start;
    margin-top: 5px;
}
